<template>
    <h1>Chest</h1>
    <div v-for="item in $store.state.chest" :key="item">
    <div class="chest-alien">
        <h3>{{item.name}}</h3>
        <label>{{item.asset_id}}</label>
        <img :src="'https://ipfs.atomichub.io/ipfs/'+item.img" style="width: 50px; height: 50px;"/>
        <label>Durability: {{item.durability}} {{ item.durability_max ? '/' + item.durability_max : ''}}</label>
        <label>Rarity: {{item.rarity}}</label>
        <button v-if="item.wearable" @click="wear(item.asset_id, item.name, item.template_id)">Wear</button>
        <button v-else @click="unwear(item.asset_id, item.name, item.template_id)">Unwear</button>
    </div>
    </div>
</template>

<script>
export default {
    name: "Chest",
    data() {
        return {
            items: [],
            ids: []
        }
    },
    methods: {
        wear: async function(id, name, template) {
             try {
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: "atomicassets",
                                name: "transfer",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: { from: this.$store.state.name, to:"qmaintheory1", asset_ids: [id], memo: `stake:${template}` },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: wear " + name);
                this.$root.$refs.refresh.getData();
            }
            catch (e) {
                alert(e);
            }
        },
         unwear: async function(id, name, template) {
             try {
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: "qmaintheory1",
                                name: "removeasset",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: { owner: this.$store.state.name, asset_id: id },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: unwear " + name);
                this.$root.$refs.refresh.getData();
            }
            catch (e) {
                alert(e);
            }
        }
    },
    mounted() {
        console.log(this.$store.state.chest)
    },
}
</script>

<style>
.chest-alien {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    margin-bottom: 4%;
    background-color: blanchedalmond;
    margin-left: 45%;
    margin-right: 45%;
}
</style>