<template>
<h1>Craft</h1>
<div v-for=" tool in $store.state.tools" :key="tool">
<div class="craft-alien">
    <h3>{{tool.template_name}}</h3>
    <img :src="'https://ipfs.atomichub.io/ipfs/'+tool.img" style="width: 50px; height: 50px;"/>
    <label>Durability: {{tool.durability}}</label>
    <label>Charge time: {{tool.charge_time}} minutes</label>
    <label>Energy consumed: {{tool.energy_consumed}}</label>
    <label>Durability consumed: {{tool.durability_consumed}}</label>
    <h4>Cost:</h4>
    <label v-for="mint in tool.mints" :key="mint">{{mint}}</label>
    <h4>Rewards:</h4>
    <label v-for="reward in tool.rewards" :key="reward">{{reward}}</label>
    <button @click="craft(tool.template_id, tool.template_name)">Craft !</button>
</div>
</div>


</template>
<script>
export default {
    name: "Craft",
    methods: {
        craft: async function(template_id, name)
        {
            try {
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: "qmaintheory1",
                                name: "mintassets",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: { owner: this.$store.state.name, template_id: template_id },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: claimed " + name + " !");
                this.$root.$refs.refresh.getData();
            }
            catch (e) {
                alert(e);
            }
        }
    },
    mounted() {
        console.log(this.$store.state.tools)
    },
}
</script>

<style>
.craft-alien {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    margin-bottom: 4%;
    background-color: blanchedalmond;
    margin-left: 30%;
    margin-right: 30%;
}
</style>