<template>
    <h1>Exchange (Fees {{$store.state.config.fee}}%)</h1>
    <div class="exchange-menu">
        <button @click="mode = 0">Withdraw</button>
        <button @click="mode = 1">Deposit</button>
    </div>
    <div class="exchange-action">
        <h2>{{ mode ? "Deposit" : "Withdraw" }}</h2>
        <div class="items-action">
            <div class="item-action">
                <img src="https://fw.f12key.xyz/img/F12/fw/FWW2.png" />
                <input
                    type="number"
                    v-model="wood"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.rss_balances[0]"
                    :disabled="mode"
                />
                {{ mode ? "⬅️" : "➡️" }}
                <input v-if="mode"
                    type="number"
                    v-model="wood"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[2]"
                    :disabled="!mode"
                />
                <input v-else
                    type="number"
                    v-model="dwood"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[0]"
                    :disabled="!mode"
                /> QTW
                <button @click="submit(0)">Send</button>
            </div>
            <div class="item-action">
                <img src="https://fw.f12key.xyz/img/F12/fw/FWF2.png" />
                <input
                    type="number"
                    v-model="food"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.rss_balances[1]"
                    :disabled="mode"
                />
                {{ mode ? "⬅️" : "➡️" }}
                <input v-if="mode"
                    type="number"
                    v-model="food"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[2]"
                    :disabled="!mode"
                />
                <input v-else
                    type="number"
                    v-model="dfood"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[1]"
                    :disabled="!mode"
                /> QTF
                <button @click="submit(1)">Send</button>
            </div>
            <div class="item-action">
                <img src="https://fw.f12key.xyz/img/F12/fw/FWG2.png" />
                <input
                    type="number"
                    v-model="gold"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.rss_balances[2]"
                    :disabled="mode"
                />
                {{ mode ? "⬅️" : "➡️" }}
                <input v-if="mode"
                    type="number"
                    v-model="gold"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[2]"
                    :disabled="!mode"
                />
                <input v-else
                    type="number"
                    v-model="dgold"
                    step=".0001"
                    min="0"
                    :max="$store.state.user.token_balances[2]"
                    :disabled="!mode"
                /> QTG
                <button @click="submit(2)">Send</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "Exchange",
    data() {
        return {
            mode: 0,
            wood: 0,
            food: 0,
            gold: 0,
        }
    },
    computed: {
        dwood: function() {
            if (this.mode)
                return this.wood;
            else
                return this.wood * (100 - this.$store.state.config.fee) / 100;
        },
        dfood: function() {
            if (this.mode)
                return this.food;
            else
                return this.food * (100 - this.$store.state.config.fee) / 100;
        },
        dgold: function() {
            if (this.mode)
                return this.gold;
            else
                return this.gold * (100 - this.$store.state.config.fee) / 100;
        }
    },
    methods: {
        formatValue: function (input) {
            if (!input.toString().split(".")[1])
                return input + ".0000";
            let nop = input.toString().split(".")[1].length;

            let output = input.toString();
            if (nop < 4)
                while (4 - nop++)
                    output += "0";
            else if (nop > 4)
                output = output.split(".")[0] + "." + output.split(".")[1].substring(0, 4)
            return output;
        },
        submit: async function (rss) {
            let value;
            let amount;

            if (!rss) {

                value = this.formatValue(this.wood) + " "
                amount = this.formatValue(this.wood * this.mode ? this.wood : this.dwood) + " "
                value += this.mode ? "QTW" : "WOOD";
                amount += this.mode ? "QTW" : "WOOD";
            }
            else if (rss == 1) {
                value = this.formatValue(this.food) + " "
                amount = this.formatValue(this.food * this.mode ? this.food : this.dfood) + " "
                value += this.mode ? "QTF" : "FOOD";
                amount += this.mode ? "QTF" : "FOOD";
            }
            else if (rss == 2) {
                value = this.formatValue(this.gold) + " "
                amount = this.formatValue(this.gold * this.mode ? this.gold : this.dgold) + " "
                value += this.mode ? "QTG" : "GOLD";
                amount += this.mode ? "QTG" : "GOLD";
            }
            try {
                
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: this.mode ? "qtokentheory" : "qmaintheory1",
                                name: this.mode ? "transfer" : "withdraw",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: this.mode ? {from: this.$store.state.name, to:  "qmaintheory1", quantity: value, memo: "deposit"} : { owner: this.$store.state.name, quantity: value },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: exchanged " + amount);
                this.$root.$refs.refresh.getData();
            }
            catch (e) {
                alert(e);
            }
        }
    },
}
</script>
<style>
.exchange-menu {
    display: flex;
    justify-content: space-around;
    margin-left: 40%;
    margin-right: 40%;
}
.exchange-action {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    border: solid black 1px;
}

.items-action {
    margin-bottom: 5%;
}
.item-action {
    margin-bottom: 3%;
}
</style>