<template>
    <h2>Login</h2>
    <label>Name:</label>
    <input type="text" v-model="name" placeholder="Enter name" />
    <br />
    <label>Private Active Key:</label>
    <input type="text" v-model="key" placeholder="Enter key" />
    <br />
    <input type="checkbox" v-model="saveCreds" />
    <label>Keep me logged in</label>
    <br />
    <button :disabled="!key && !name" @click="openLogin">Login to Testnet</button>
    <br />
    {{ result }}
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            result: "",
            saveCreds: false,
            key: "",
            name: "",
        }
    },
    methods: {
        saveCredentials: async function () {
            this.result = "Logged !";
            //Put credentials in the store
            this.$store.state.key = this.key;
            this.$store.state.name = this.name;
            //Save the credentials in localStorage if checkbox is checked
            if (this.saveCreds) {
                localStorage.setItem("testnet_key", this.key);
                localStorage.setItem("testnet_name", this.name);
            }
            //Quit the login page
            this.$root.showLogin = false;
        },
        openLogin: async function () {
            const self = this;
            //Try to fetch the credentials to the testnet
            this.$store.dispatch("login", {name: this.name, key: this.key}).then((result) => {
                self.saveCredentials();
                 this.$root.$refs.refresh.getData();
        this.$root.$refs.refresh.launchRefresh();
            }).catch((err) => {
                self.result = "Wrong credentials";
            });
        }
    },
}
</script>