<template>
    <div class="ressources-info">
        <div>
            {{ $store.state.user.rss_balances[0] }}
            <img
                src="https://fw.f12key.xyz/img/F12/fw/FWW2.png"
            />
        </div>
        <div>
            {{ $store.state.user.rss_balances[1] }}
            <img
                src="https://fw.f12key.xyz/img/F12/fw/FWF2.png"
            />
        </div>
        <div>
            {{ $store.state.user.rss_balances[2] }}
            <img
                src="https://fw.f12key.xyz/img/F12/fw/FWG2.png"
            />
        </div>
    </div>
    <div class="ressources-info">
        <div>
            {{ $store.state.user.energy }} / {{ $store.state.user.max_energy }}
            <img
                src="energy.png"
                style="width: 35px; height: 35px;"
            />
        </div>
    </div>
    <div class="ressources-info">
        <div>{{ $store.state.user.token_balances[0] }} QTW</div>
        <div>{{ $store.state.user.token_balances[1] }} QTF</div>
        <div>{{ $store.state.user.token_balances[2] }} QTG</div>
    </div>
    <div>
        <button @click="airgrab">Airgrab</button>
        <label>in: {{ timeLeft }}</label>
    </div>
</template>
<script>
export default {
    name: "Profile",
    data() {
        return {
            timeLeft: null,
            refresh: null
        }
    },
    mounted() {
        this.launchRefresh();
    },
    methods: {
        launchRefresh: async function () {
            const self = this;
            this.refresh = setInterval(async () => {
                self.refreshLeft();
            }, 1000);
        },
        refreshLeft: async function () {
            if (this.$store.state.airgrab == null || new Date(this.$store.state.airgrab - Date.now()).getMinutes() <= 0) {
                this.timeLeft = "Available";
                clearInterval(this.refresh);
            }
            else {
                this.timeLeft = new Date(this.$store.state.airgrab - Date.now()).toLocaleTimeString()
            }
        },
        airgrab: async function () {
            try {
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: "qtokentheory",
                                name: "airgrab",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: { owner: this.$store.state.name },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: airgrabbed token, next in one hour");
                this.$root.$refs.refresh.getData();
                this.launchRefresh();
            }
            catch (e) {
                alert(e);
            }
        }
    },
}
</script>
<style>
.ressources-info {
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.ressources-info div {
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border: solid black 1px;
}

.ressources-info img {
    position: inherit;
}
</style>