<template>
    <h1>Recover energy</h1>
    <div class="recover-menu">
        <div class="food-action">
            <img src="https://fw.f12key.xyz/img/F12/fw/FWF2.png" />
            <input
                type="number"
                v-model="food"
                step="1"
                min="0"
                :max="$store.state.user.rss_balances[1]"
                @change="change"
            />
        </div>
        ⬇️
        <div class="item-result">
            <img src="energy.png" style="width: 35px; height: 35px;" />
            <input disabled type="number" v-model="energy" />
        </div>
        <div>
            <button @click="submit">Recover</button>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            food: 0,
            energy: 0,
        }
    },
    methods: {
        change: function () {
            this.energy = this.food * 5;
        },
        submit: async function () {
            const value = this.energy.toString().split(".")[0];
 try {
                const result = await this.$store.state.api.transact(
                    {
                        actions: [
                            {
                                account: "qmaintheory1",
                                name: "recover",
                                authorization: [
                                    {
                                        actor: this.$store.state.name,
                                        permission: "active",
                                    },
                                ],
                                data: { owner: this.$store.state.name, amount: value },
                            },
                        ],
                    },
                    {
                        blocksBehind: 3,
                        expireSeconds: 30,
                    }
                );
                alert("Success: recoverd " + value + " energy");
                this.$root.$refs.refresh.getData();
            }
            catch (e) {
                alert(e);
            }
        }
    },
}</script>
<style>
.food-action {
    margin-bottom: 1%;
}
.item-result{
    margin-bottom: 2%;
}</style>