<template>
  <div></div>
</template>

<script>
export default {
  name: "Refresh",
  data() {
    return {
      token: null,
    };
  },
  methods: {
    getData: async function () {
      console.log("mes usables =", this.$store.state.usable);
      const self = this;
      this.$store.state.rpc
        .get_currency_balance("qtokentheory", this.$store.state.name, "QTW")
        .then((result) => {
          self.$store.state.user.token_balances[0] = result.length
            ? parseFloat(result[0].split(" ")[0])
            : 0;
        });
      this.$store.state.rpc
        .get_currency_balance("qtokentheory", this.$store.state.name, "QTF")
        .then((result) => {
          self.$store.state.user.token_balances[1] = result.length
            ? parseFloat(result[0].split(" ")[0])
            : 0;
        });
      this.$store.state.rpc
        .get_currency_balance("qtokentheory", this.$store.state.name, "QTG")
        .then((result) => {
          self.$store.state.user.token_balances[2] = result.length
            ? parseFloat(result[0].split(" ")[0])
            : 0;
        });
        this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "qtokentheory", // Contract that we target
          scope: "qtokentheory", // Account that owns the data
          table: "airgrabs", // Table name
          lower_bound: this.$store.state.name,
          upper_bound: this.$store.state.name,
          limit: 1,
        }).then( response => {
          
          if(response.rows.length)
            self.$store.state.airgrab = (response.rows[0].next_claim - 3600) * 1000;
          else
            self.$store.state.airgrab = null;
        })
                this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "qmaintheory1", // Contract that we target
          scope: "qmaintheory1", // Account that owns the data
          table: "config", // Table name
          limit: 1,
        }).then( response => {
            self.$store.state.config = response.rows[0];
        })
      this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "qmaintheory1", // Contract that we target
          scope: "qmaintheory1", // Account that owns the data
          table: "accounts", // Table name
          lower_bound: this.$store.state.name,
          upper_bound: this.$store.state.name,
          limit: 1,
        })
        .then((result) => {
          self.$store.state.user.energy = result.rows[0].energy;
          self.$store.state.user.max_energy = result.rows[0].max_energy;
          self.$store.state.user.rss_balances = result.rows[0].balances.map(
            (value) => parseFloat(value.split(" ")[0])
          );
        });
      this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "qmaintheory1", // Contract that we target
          scope: "qmaintheory1", // Account that owns the data
          table: "alienconf",
          // limit: 100,
        })
        .then((result) => {
          self.$store.state.tools = result.rows;
          // console.log('mes tools ptn = ', self.$store.state.tools)
        });
      this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "atomicassets", // Contract that we target
          scope: this.$store.state.name, // Account that owns the data
          table: "assets",
          limit: 100,
        })
        .then((result) => {
          const data = result.rows;
          const chest = [];
          for (let item in data) {
            const template_id = data[item].template_id;
            chest[item] = { ...self.$store.state.template[template_id] };
            chest[item].asset_id = data[item].asset_id,
            chest[item].template_id = template_id;
            chest[item].durability_max = 0;
            chest[item].wearable = 1;
          }

          self.$store.state.chest = [...chest];
        });

      self.$store.state.rpc.get_table_rows({
          json: true, // Get the response as json
          code: "qmaintheory1", // Contract that we target
          scope: "qmaintheory1", // Account that owns the data
          table: "aliens",
          index_position: 2,
          key_type: "i64",
          lower_bound: this.$store.state.name,
          upper_bound: this.$store.state.name,
          limit: 100,
        })
        .then((result) => {
          const data = result.rows;
          console.log('la sortie des aliens =', data);
          const active = [];

          for (let item in data) {
            const template_id = data[item].template_id;
            active[item] = { ...self.$store.state.template[template_id] };
            active[item].asset_id = data[item].asset_id;
            active[item].template_id = template_id;
            active[item].durability_max = data[item].durability_max;
            active[item].wearable = 0;
            active[item].next_claim = (data[item].next_claim) * 1000 > 0 ? (data[item].next_claim) * 1000 : 0 ;
            active[item].claimable = active[item].next_claim ? new Date(active[item].next_claim).getTime() - new Date(Date.now()).getTime()  < 0 ? true : false : true;
            active[item].durability = data[item].durability;
            for (let i = 0; i < self.$store.state.tools.length; i++) {
              // console.log('mon id de mon tools', self.$store.state.tools[0].template_id, 'et lautre',
              // item.template_id);
              if (self.$store.state.tools[i].template_id == active[item].template_id)
                active[item].conf = self.$store.state.tools[i];
            }
        
          }
          
          self.$store.state.chest = self.$store.state.chest.concat(...active);
          self.$store.state.usable = [...active];
          self.$store.state.usable = self.$store.state.usable.sort((a,b) => (self.$store.state.template[a.template_id].rarity > self.$store.state.template[b.template_id].rarity ? 1 : 0))
        });
    },
    launchRefresh: function () {
      const self = this;
      this.token = setInterval(async () => {
        self.getData();
      }, 5000);
    },
    clearRefresh: function () {
      clearInterval(this.token);
    },
  },
};
</script>