<template>
  <h3>My tools :</h3>
  <div id="tools-box">
    <div v-for="tool in this.$store.state.usable" v-bind:key="tool.asset_id" class="tool">
      <h3>{{ this.$store.state.template[tool.template_id].name }}</h3>
      <img
        :src="'https://ipfs.atomichub.io/ipfs/' + tool.img"
        style="width: 50px; height: 50px"
      />
       <label>Durability: {{tool.durability}} {{ tool.durability ? '/ ' + this.$store.state.template[tool.template_id].durability : ''}}</label>
      <button disabled v-if="!tool.claimable" >
        {{ new Date( new Date(tool.next_claim - 3600000).getTime() - new Date(date).getTime()).toLocaleTimeString() }}
      </button>
      <button v-else @click="claim(tool.asset_id)" >Claim</button>
      <button @click="repair(tool.asset_id)">Repair</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Tools",
  data() {
    return {
      token: null,
      date: Date.now(),
      wood_gain: NaN,
      gold_gain: NaN,
      food_gain: NaN,
      tools: this.$store.state.usable,
    };
  },
  async mounted() {
    console.log('Tools component mounted');
    this.render_claim_time();
  },

  methods: {
    claim: async function (asset) {
      // console.log(asset);
      try {
        const result = await this.$store.state.api.transact(
          {
            actions: [
              {
                account: "qmaintheory1",
                name: "claim",
                authorization: [
                  {
                    actor: this.$store.state.name,
                    permission: "active",
                  },
                ],
                data: { owner: this.$store.state.name, asset_id: asset },
              },
            ],
          },
          {
            blocksBehind: 3,
            expireSeconds: 30,
          }
        );
        this.$store.state.rpc
        .get_table_rows({
          json: true, // Get the response as json
          code: "qmaintheory1", // Contract that we target
          scope: this.$store.state.name, // Account that owns the data
          table: "lastclaim", // Table name
          lower_bound: asset,
          upper_bound: asset,
          limit: 1,
        }).then( response => {
          alert(`Success ! Claimed: ${response.rows[0].last_claim}`)
        })
        this.$root.$refs.refresh.getData();
      } catch (e) {
        alert(e);
      }
    },
    repair: async function (asset) {
        try {
        const result = await this.$store.state.api.transact(
          {
            actions: [
              {
                account: "qmaintheory1",
                name: "repair",
                authorization: [
                  {
                    actor: this.$store.state.name,
                    permission: "active",
                  },
                ],
                data: { owner: this.$store.state.name, asset_id: asset },
              },
            ],
          },
          {
            blocksBehind: 3,
            expireSeconds: 30,
          }
        );
        
        alert('Sucessfull repair')
        this.$root.$refs.refresh.getData();
       
      } catch (e) {
        alert(e);
      }
    },
    render_claim_time: function () {
      const self = this;
      setInterval(function () {
        self.date = Date.now();
        for (let tool in self.$store.state.usable)
        {
          console.log(tool, new Date(Date.now()).getTime() , new Date(self.$store.state.usable[tool].next_claim).getTime(),  new Date(self.$store.state.usable[tool].next_claim).getTime() - new Date(Date.now()).getTime())
          self.$store.state.usable[tool].claimable = self.$store.state.usable[tool].next_claim ? new Date(self.$store.state.usable[tool].next_claim).getTime() - new Date(Date.now()).getTime()  < 0 ? true : false : true;
        }

      }, 1000);
    }
  },
};
</script>

<style scoped>
.estimated-box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.ressource {
  display: flex;
  padding: 20px;
}

.ressource img {
  margin-top: 15px;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    margin-bottom: 4%;
    background-color: blanchedalmond;
    margin: 1%;
    width: 10%;
}
.tool button {
  margin: 2%;
}

#tools-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>