<template>
  <Refresh ref="refresh" />
  <Login v-if="showLogin" />
  <div v-else-if="$store.state.key">
    Logged as {{ $store.state.name }}
    <button @click="logout">Logout</button>
    <br />
    <div v-if="$store.state.name">
      <Profile />
    </div>
    <hr />
    <button @click="page = 1">Exchange</button>
    <button @click="page = 2">Recover energy</button>
    <button @click="page = 3">Craft</button>
    <button @click="page = 4">Tools</button>
    <button @click="page = 5">Chest</button>
    <hr />
    <Exchange v-if="page == 1" />
    <Recover v-if="page == 2" />
    <Craft v-if="page == 3" />
    <Tools v-if="page == 4" />
    <Chest v-if="page == 5" />
  </div>
</template>

<script>
import Login from './components/Login.vue'
import Refresh from './components/Refresh.vue'
import Profile from './components/Profile.vue'
import Exchange from './components/Exchange.vue'
import Recover from './components/Recover.vue'
import Craft from './components/Craft.vue'
import Tools from './components/Tools.vue'
import Chest from './components/Chest.vue'

export default {
  name: 'App',
  components: {
    Login,
    Refresh,
    Profile,
    Exchange,
    Recover,
    Craft,
    Tools,
    Chest
  },
  data() {
    return {
      showLogin: false,
      page: 0,
    }
  },
  methods: {
    logout: function () {
      this.$refs.refresh.clearRefresh();
      this.amount = [];
      this.energy = {};
      localStorage.removeItem("testnet_key");
      localStorage.removeItem("testnet_name");
      this.$store.state.key = "";
      this.$store.state.name = "";
      this.showLogin = true;
    },
  },
  mounted() {
    const self = this;
    // Check if the store already have the credentials, it's normally always false
    if (!this.$store.state.key && !this.$store.state.name) {
      console.log("Not logged account")
      // Check if the credentials are saved
      if (localStorage.getItem("testnet_key") && localStorage.getItem("testnet_name")) {
        //Save the credentials in the store
        this.$store.state.key = localStorage.getItem("testnet_key");
        this.$store.state.name = localStorage.getItem("testnet_name");
        //Genereate the api with the great signature
        this.$store.dispatch("generateApi");
        this.$refs.refresh.getData();
        this.$refs.refresh.launchRefresh();
      }
      else {
        //Show the login page
        this.showLogin = true;
      }
    }
    else {
      console.log("Logged !")
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
